---
layout: full
title: Amiibo
permalink: /amiibo/
---
<h1>
    <img 
        src="{% link {{site.data.amiibo['metadata'].base-image-path}}{{site.data.amiibo['metadata'].logo}} %}"
        alt="Amiibo"
    />
</h1>
{% assign owned = 0 %}
{% assign total = 0 %}
{% assign ratio = 0 %}
{% assign amiibo-series = site.data.amiibo | where_exp: "item", "item.title != nil" | sort: 'sort-order' %}

{% for series in amiibo-series %}
    {% assign temp = series.characters | where: "owned", "true" | size %}
    {% assign owned = owned | plus: temp %}
    {% assign temp = series.characters | size %}
    {% assign total = total | plus: temp %}
{% endfor %}

{% assign total_as_float = total | times: 1.0 %}
{% assign ratio = owned | divided_by: total_as_float | times: 100 %}

<span>Total Owned Amiibo: {{owned}} / {{total}}</span>
<div class="meter">
	<span style="width: {{ratio}}%">{{ratio | floor }}%</span>
</div>
<span>Filter:</span>
<input type="radio" id="all-radio" name="content-filter" checked />
<label for="all-radio">All</label>

<input type="radio" id="owned-radio" name="content-filter" />
<label for="owned-radio">Owned</label>

<input type="radio" id="unowned-radio" name="content-filter" />
<label for="unowned-radio">Unowned</label> 
<div>
    {% for series in amiibo-series %}
    {% assign seriesOwned = series.characters | where: "owned", "true" | size %}
    {% assign seriesTotal = series.characters | size %}
    <div id="{{series.title | slugify: 'pretty'}}-container" class="series-container {% if seriesOwned == seriesTotal %}owned-series{% endif %} {% if seriesOwned == 0 %}unowned-series{% endif %}">
        <details>
            <summary>
                <span>{{series.title}}</span>
                <span class="float-right series-count">{{ series.characters | where: "owned", "true" | size }} / {{ series.characters | size }}</span>
                <span class="float-right series-remainder">{{ series.characters | where: "owned", "false" | size }} Left</span>
            </summary>
            <div class="collection-container">
            {% assign sortedAmiibo = series.characters | sort: "id" %}
            {% for amiibo in sortedAmiibo %}
            <div class="amiibo-container tooltip {% if amiibo.owned %}owned-amiibo{% endif %}">
                <span class="tooltiptext-below">
                    Released on {{amiibo.release}}
                </span>
                <img 
                    style="width: 100px; height: 118px;"
                    src="{% link {{site.data.amiibo['metadata'].base-image-path}}{{series.folder-path}}{{amiibo.image}} %}"
                    alt="{{amiibo.name}}" loading="lazy"
                />
                <span class="amiibo-name">{{amiibo.name}}</span>
            </div>
            {% endfor %}
        </div>
        </details>
    </div>

    {% endfor %}
</div>
