---
layout: full
title: Nintendo Switch Games
permalink: /switch/
---
{% assign collection = site.data.nintendo-switch-games.collection %}
<h1>
    <img 
        src="{% link {{collection.logo}} %}"
        alt="Nintendo Switch Logo"
    />
</h1>
{% assign owned = collection.games.size %}
{% assign allGenres = site.emptyArray %}
{% assign genreLists = collection.games | map: "genre" %}
{% for genreList in genreLists %}
    {% assign allGenres = allGenres | concat: genreList %}
{% endfor %}
{% assign allGenres = allGenres | uniq | sort %}

<div>
    <span>Total Owned: {{owned}}</span>
    <div class="flex-evenly">
        <div></div>
        <div>        
            <input type="text" id="game-search" onkeyup="filterGames()" placeholder="Filter games..."/>
            <select id="genre-select" onchange="filterGames()">
                <option value="default">--Filter by genre--</option>
                {% for genre in allGenres %}
                    <option value="{{genre}}">{{genre}}</option>
                {% endfor %}
              </select>
        </div>
        <div></div>
    </div>
    <div class="flex-evenly">
        <div></div>
        <span>Displaying <span id="filter-count">{{owned}}</span> results:</span>
        <div></div>
    </div>
</div>
<div>
    <div class="collection-container">
        {% comment %}
            This whole block of code adds a "title" field to each game that is used for sorting.
            It makes the following adjustments for more natural sorting:
            - Removes "The" if it's the beginning word of a game
            - Removes "Sid Meier's" from Civ 6
            - Replaces '|' in FFX/X-2 with ' ' for proper order
            - Removes ':' for proper order
            - Replaces " + " with " " for Mario Rabbids
            - Replaces " & " with " " for Mario and Sonic
            - Removes "Nintendo" from Labo entries
        {% endcomment %}
        {% for game in collection.games %}
            {% assign titleInParts = game.name | downcase | split: " " %}
            {% if titleInParts[0] == "the" %}
                {% assign corrected = game.name 
                    | downcase 
                    | replace_first: "the", "" 
                    | replace: "elder scrolls v: ", ''
                    | strip %}
                {% assign game = game | addProp: "title", corrected %}
            {% else %}
                {% assign corrected = game.name 
                    | downcase 
                    | replace: '|', ' ' 
                    | replace: ':', '' 
                    | replace: " & ", '' 
                    | replace: " + ", ' ' 
                    | replace: 'new pokémon', 'pokémon'
                    | replace: 'new super', 'super'
                    | replace: 'é', 'e'
                    | replace: "sid meier’s", '' 
                    | replace: "nintendo labo", "labo" 
                    | replace: "my friend peppa", 'peppa'
                    | replace: 'disney', ''
                    | replace: "placeholder", 'zzzz' 
                    | strip %}
                {% assign game = game | addProp: "title", corrected %}
            {% endif %}
        {% endfor %}
        {% assign sortedGames = collection.games | sort_natural: "title" %}
        {% for game in sortedGames %}
        <div class="amiibo-container tooltip">
            <span class="tooltiptext-above game-genres">
                {{ game.genre | sort | join: ', ' | trim }}
            </span>
            <span class="tooltiptext-below">
                Released on {{game.release}}
            </span>
            <img 
                style="width: 100px; height: 162px;"
                src="{% link {{game.boxart}} %}"
                alt="{{game.name}}" loading="lazy"
            />
            <span class="amiibo-name">{{game.name}}</span>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    const gameContainers = document.getElementsByClassName("amiibo-container");
    const titleToFilter = Object.fromEntries([...gameContainers].map((el) => el.getElementsByClassName("amiibo-name")[0].innerHTML).map(name => [name, name.replace('é', 'e').replace(/[^a-z0-9 ]/gi, '').toUpperCase()]));
    filterGames = () => {
        var titlefilter = document.getElementById("game-search").value.toUpperCase();
        var genreFilter = document.getElementById("genre-select").value.toUpperCase();
        var filteredCount = 0;
        for (var i = 0; i < gameContainers.length; i++) {
            var gameContainer = gameContainers[i];
            var gameTitle = gameContainer.getElementsByClassName("amiibo-name")[0].innerHTML;
            var genreList = gameContainer.getElementsByClassName("game-genres")[0].innerHTML.split(',').map((item) => item.toUpperCase().trim());
            var inGenre = true;
            if (genreFilter !== 'DEFAULT') {
                inGenre = genreList.includes(genreFilter);
            }
            var found = inGenre && (titleToFilter[gameTitle].indexOf(titlefilter) > -1);
            gameContainer.style.display = found ? "flex" : "none";
            filteredCount += (found ? 1 : 0);
        }
        document.getElementById('filter-count').innerHTML = filteredCount;
    }
</script>
