---
layout: full
title: Nintendo Switch Games
permalink: /switch/
---
{% assign collection = site.data.nintendo-switch-games.collection %}
<h1>
    <img 
        src="{% link {{collection.base-image-path}}{{collection.logo}} %}"
        alt="Nintendo Switch Logo"
    />
</h1>
{% assign owned = collection.games.size %}
{% assign amiibo-series = site.data.amiibo | where_exp: "item", "item.title != nil" | sort: 'sort-order' %}

{% for series in amiibo-series %}
    {% assign temp = series.characters | where: "owned", "true" | size %}
    {% assign temp = series.characters | size %}
    {% assign total = total | plus: temp %}
{% endfor %}

<div>
    <span>Total Owned: {{owned}}</span>
    <div style="display: flex; justify-content: space-between;">
        <div></div>
        <input type="text" id="game-search" onkeyup="filterGames()" placeholder="Filter games..."/>
        <div></div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div></div>
        <span>Displaying <span id="filter-count">{{owned}}</span> results:</span>
        <div></div>
    </div>
</div>
<div>
    <div class="collection-container">
        {% comment %}
            This whole block of code adds a "title" field to each game that is used for sorting.
            It makes the following adjustments for more natural sorting:
            - Removes "The" if it's the beginning word of a game
            - Removes "Sid Meier's" from Civ 6
            - Replaces '|' in FFX/X-2 with ' ' for proper order
            - Removes ':' for proper order
            - Replaces " + " with " " for Mario Rabbids
            - Replaces " & " with " " for Mario and Sonic
            - Removes "Nintendo" from Labo entries
        {% endcomment %}
        {% for game in collection.games %}
            {% assign titleInParts = game.name | downcase | split: " " %}
            {% if titleInParts[0] == "the" %}
                {% assign corrected = game.name 
                    | downcase 
                    | replace_first: "the", "" 
                    | replace: "elder scrolls v: ", ''
                    | strip %}
                {% assign game = game | addProp: "title", corrected %}
            {% else %}
                {% assign corrected = game.name 
                    | downcase 
                    | replace: '|', ' ' 
                    | replace: ':', '' 
                    | replace: " & ", '' 
                    | replace: " + ", ' ' 
                    | replace: 'new pokémon', 'pokémon'
                    | replace: 'new super', 'super'
                    | replace: 'é', 'e'
                    | replace: "sid meier’s", '' 
                    | replace: "nintendo labo", "labo" 
                    | replace: "my friend peppa", 'peppa'
                    | replace: 'disney', ''
                    | replace: "placeholder", 'zzzz' 
                    | strip %}
                {% assign game = game | addProp: "title", corrected %}
            {% endif %}
        {% endfor %}
        {% assign sortedGames = collection.games | sort_natural: "title" %}
        {% for game in sortedGames %}
        <div class="amiibo-container tooltip">
            <span class="tooltiptext">
                Released on {{game.release}}
            </span>
            <img 
                style="width: 100px; height: 162px;"
                src="{% link {{collection.base-image-path}}{{game.name | replace: ':', '' | replace: '|', ' '}}.jpg %}"
                alt="{{game.name}}" loading="lazy"
            />
            <span class="amiibo-name">{{game.name}}</span>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    const gameContainers = document.getElementsByClassName("amiibo-container");
    const titleToFilter = Object.fromEntries([...gameContainers].map((el) => el.getElementsByClassName("amiibo-name")[0].innerText).map(name => [name, name.replace('é', 'e').replace(/[^a-z0-9 ]/gi, '').toUpperCase()]));
    filterGames = () => {
    var filter = document.getElementById("game-search").value.toUpperCase();
    var filteredCount = 0;
    for (var i = 0; i < gameContainers.length; i++) {
        var gameContainer = gameContainers[i];
        var gameTitle = gameContainer.getElementsByClassName("amiibo-name")[0].innerText;
        var found = titleToFilter[gameTitle].indexOf(filter) > -1;
        gameContainer.style.display = found ? "flex" : "none";
        filteredCount += (found ? 1 : 0);
    }
    document.getElementById('filter-count').innerText = filteredCount;
}
</script>
